@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root
{
  --clr: #1c1c1c;
  --buttoncolor: #000;
  --textcolor: #aaaaaa;
  --barcolor: #333333;
}


body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--clr);
}

.navbar
{
  height: 70px;
  background: var(--barcolor);
  position: fixed;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.navbar ul
{
  display: flex;
  align-items: center;
  padding: 5px;
}

.navbar ul li
{
  position: relative;
  list-style: none;
  z-index: 1;
  padding: 5px;
}


.navbar ul li a
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navbar ul li a select
{
  transition: 300ms;
  position: relative;
  display: flex;
  font-size: 1em;
  text-align: center;
  background-color: var(--clr);
  height: 50px;
  width : 150px;
  border-radius: 10px;
  border: none;
  color: var(--textcolor);
}

.navbar ul li a:hover select
{
  background: #0fbcf9 !important;
  box-shadow: 0 0 15px #0fbcf999;
  color: var(--clr);
}

.navbar ul li a input.searchinput
{
  transition: 300ms;
  position: relative;
  display: flex;
  font-size: 1em;
  text-align: center;
  background-color: var(--clr);
  height: 50px;
  width : 250px;
  border-radius: 10px;
  border: none;
  color: var(--textcolor);
}

.navbar ul li a input.searchinput
{
  background: #0fbcf9;
  box-shadow: 0 0 15px #0fbcf999;
  color: var(--clr);
}

.catbar
{
  position: fixed;
  left: 0;
  justify-content: center;
  align-items: center;
}

.catbar ul
{
  align-items: center;
  flex-direction: row;
  display: block;
}

.catbar ul li
{
  position: relative;
  list-style: none;
  z-index: 1;
  margin: 10px;
  display: flex;
}


.catbar ul li a
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  border-radius: 10px;
  background: var(--barcolor);
  width: 50px;
  height: 50px;
}

.catbar ul li a img
{
  position: relative;
  display: flex;
  height: 30px;
  width : 30px;
}

.selectedcat{
  background: #ffa801 !important;
  box-shadow: 0px 0px 15px #ffa80199;
}

@media (max-width: 920px) {
  .catbar
  {
    transform: translateY(-45px);
  }
  .navbar ul li a input.searchinput
  {
    width: calc(40vw - 70px);
  }
  .navbar ul li a select 
  {
    width: 20vw;
  }
}

